name: Godot Export

on: workflow_dispatch

env:
  GODOT_VERSION: 4.5-stable
  GODOT_ANDROID_KEYSTORE_RELEASE_USER: RELEASE_USER
  GODOT_ANDROID_KEYSTORE_RELEASE_PASSWORD: RELEASE_PASSWORD

jobs:
  godot-export:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          log-accepted-android-sdk-licenses: false

      - name: Create Keystore
        run: |
          keytool \
            -genkeypair \
            -keyalg RSA \
            -keystore release.keystore \
            -alias "$GODOT_ANDROID_KEYSTORE_RELEASE_USER" \
            -storepass "$GODOT_ANDROID_KEYSTORE_RELEASE_PASSWORD" \
            -keypass "$GODOT_ANDROID_KEYSTORE_RELEASE_PASSWORD" \
            -dname "CN=Release" \
            -validity 9999 \

      - name: Godot Export
        id: godot_export
        uses: firebelley/godot-export@v7.0.0
        with:
          godot_executable_download_url: https://github.com/godotengine/godot-builds/releases/download/$GODOT_VERSION/Godot_v$GODOT_VERSION_linux.x86_64.zip
          godot_export_templates_download_url: https://github.com/godotengine/godot-builds/releases/download/$GODOT_VERSION/Godot_v$GODOT_VERSION_export_templates.tpz
          relative_project_path: ./
          archive_output: true
          cache: true

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: exported
          path: ${{ steps.godot_export.outputs.archive_directory }}